*{
    box-sizing: border-box;
    margin: 0;
}

/*farver:
    #FFF8F2 - baggrund
    #D5ACAD - rosa
    #6C7E95 - blå
    #849060 - grøn
    #40312E - mørkblå
    #C6BEB3 - sand
*/

body{
    background-color: #fff8f2;
}

h1{
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h2, h3, h4, p{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/*------------Header------------*/

header nav{
    background-color: #D5ACAD;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 4em;
    width: auto;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav ul li{
    padding: 1em;
}

nav ul li a{
    text-decoration: none;
    color: #40312E;
    font-size: 1.5rem;
}

nav ul li a:hover{
    text-decoration: none;
    color: #6C7E95;
}

/*------------Nyheder------------*/

.Nyheder{
    padding: 0.5em 0;
}

.scroll{
    overflow-x: scroll;
    width: 100%;
    display: flex;
    gap: 0.5em;
}

.scroll img{
    width: 90vw;
    height: auto;
}

/*------------Kategori------------*/

.Kategori h2{
    display: flex;
    justify-content: center;
    padding-bottom: 0.2em;
}

.kat{
    display: flex;
    justify-content: space-around;
}

.kat img{
    width: 90%;
}

.kat a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #40312E;
    font-size: 1em;
}

.kat a:hover{
    text-decoration: none;
    color: #6C7E95;
}

/*-------------Butik--------------*/


/*--------------Garn--------------*/


/*--------------Solgt-------------*/


/*------------Stjerner------------*/


/*--------------Kits--------------*/


/*-----------Opskrifter-----------*/


/*-------------Footer-------------*/










